/Build/
/Configuration/Settings.yaml
/Data/
/Packages/
/Web/
/Readme.txt
/Upgrading.txt
/flow
/flow.bat
/tmp
bin/doctrine
bin/doctrine.php
Configuration/PackageStates.php
Configuration/Testing/Settings.yaml
Configuration/Development/Settings.yaml.example
Configuration/Production/Settings.yaml.example
Configuration/Settings.yaml.example
